node_modules/
dist/
.env
.env.*
.DS_Store
.vercel/
.cache/
.idea/
.vscode/
npm-debug.log*
yarn-error.log*
coverage/
*.local
*.log
.sass-cache/
/.pnp
/.pnp.js
public/build/
/.parcel-cache/node_modules
